<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssic.cookbook.manager.mapper.IntelligentFixingsNutritionExMapper">
	 <insert id="addList" parameterType="java.util.List">  
      INSERT INTO t_cb_intelligent_fixings_nutrition (id, nutrition_id,  
	              nutrition_operator, nutrition_content,intelligent_fixings_id,create_time, last_update_time, stat)
      VALUES 
     <foreach collection="list" item="item" index="index" separator="," >  
        (#{item.id},#{item.nutritionId},#{item.nutritionOperator},#{item.nutritionContent},#{item.intelligentFixingsId},
         #{item.createTime},#{item.lastUpdateTime},#{item.stat})  
    </foreach> 
  </insert>  
	
</mapper> 